:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
}





.nav-link{
  margin-left: 20px !important;
}

.nav-item{
  margin-left: 10px !important;
}
.footlinks{
  list-style: none;
  text-decoration: none;
  font-size: 11px;
}